<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120254267359-rf2mrei1cg916lcq2ebic0lcgaommupu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120254267359-rf2mrei1cg916lcq2ebic0lcgaommupu</string>
	<key>API_KEY</key>
	<string>AIzaSyC_QzJ9I93CDROunVzGRmyYRt4TotAN6aY</string>
	<key>GCM_SENDER_ID</key>
	<string>120254267359</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TemaChin.VK-app</string>
	<key>PROJECT_ID</key>
	<string>vkappart</string>
	<key>STORAGE_BUCKET</key>
	<string>vkappart.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120254267359:ios:233c3bbb05948eb1f14e6a</string>
</dict>
</plist>